# Ignore plugin build files and directories
/build/
/dist/
/node_modules/
/vendor/

# Ignore specific files
ihc-error-log.txt
readme.txt

# Ignore specific files in the assets directory
/assets/banner-772x250.png
/assets/icon-256x256.png

# Ignore system files
Thumbs.db
.DS_Store

# Ignore configuration files
wp-config.php
