<div class="wrap">
    <div class="container py-3">
        <div class="row">
            <div class="col">
                <div class="accordion" role="tablist" id="ihc-accordion-1">
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab"><button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#ihc-accordion-1 .item-1" aria-expanded="true" aria-controls="ihc-accordion-1 .item-1">Step 1</button></h2>
                        <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#ihc-accordion-1">
                            <div class="accordion-body">
                                <p class="mb-0">Once you've meticulously crafted your homepage using the Elementor or WordPress editor, it's crucial to establish it as the designated homepage.<br><br>For Elementor, refer to the accompanying image,
                                    and navigate to the button widget settings. Insert your preferred ID name in the provided field, taking care not to include the ID in the button itself.<br><br>If you're using the WordPress editor, access the
                                    buttons block and integrate the desired ID name into the HTML anchor within the block settings. Ensure that you promptly apply and save the modifications to reflect the updated changes.</p>
                                    <img class="img-fluid p-3" src="<?php echo $ihc_img1; ?>" style="max-height: 550px;" loading="lazy">
                                    <img class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#ihc-accordion-1 .item-2" aria-expanded="false" aria-controls="ihc-accordion-1 .item-2">Step
                                2</button></h2>
                        <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#ihc-accordion-1">
                            <div class="accordion-body">
                                <p class="mb-0">To initiate the IP Hero Changer plugin's functionalities and gather data, the initial step involves saving your preferences through the form. Proceed to the bottom of the page to configure the necessary
                                    options. Choose the region, country, and state for which you want IP Hero Changer to modify the button color when visitors attempt to access your homepage from that specific state.<br><br>Once these selections are
                                    made, input the HEX color for the button you wish to subject to A/B testing. This Hex color serves as your B option in the A/B testing scenario, with the initial design designated as your A option.<br><br>To
                                    conclude the setup, input the same ID that you added in the first step, starting with the "#" character (ensure the inclusion of "#" to facilitate successful form submission). Finally, click the "Save Settings"
                                    button to apply and store your configured preferences.</p><img class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#ihc-accordion-1 .item-3" aria-expanded="false" aria-controls="ihc-accordion-1 .item-3">How To Reset
                                Options</button></h2>
                        <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#ihc-accordion-1">
                            <div class="accordion-body">
                                <p class="mb-0">To eliminate and reset your homepage A/B testing and filters, simply click the "Delete All Data" button. This action will erase all configured settings and data. It is advisable to take a backup or make
                                    a note of your data before proceeding, as the IP Hero Changer does not automatically create backups.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
