<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <div class="row" id="ihc-first-row">
                    <div class="col">
                        <div class="card ihc-custom-card shadow mb-3">
                            <div class="card-header py-3">
                                <h2 class="text-primary mb-4" style="font-weight: bold;">IP Hero Changer</h2>
                                <p class="text-primary fw-bold text-danger"><?php echo $empty_database ?></p>
                                <p class="text-primary text-danger"><?php echo $caching_plugins_error ?></p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 d-flex">
                                        <div class="card ihc-custom-card shadow flex-fill">
                                            <div class="card-header d-flex justify-content-between align-items-center py-3">
                                                <h6 class="text-primary fw-bold m-0">Button Impression</h6>
                                            </div>
                                            <div class="card-body ihc-card-body">
                                                <div><canvas id="btnImpBar" class="ihc-canvas" width="100" height="100"></canvas></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 d-flex">
                                        <div class="card ihc-custom-card shadow flex-fill">
                                            <div class="card-header d-flex justify-content-between align-items-center py-3">
                                                <h6 class="text-primary fw-bold m-0">Button Clicks</h6>
                                            </div>
                                            <div class="card-body">
                                                <div><canvas id="viewPie" class="ihc-canvas" width="100" height="100"></canvas></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card ihc-custom-card mb-3">
                            <div class="card-body shadow">
                                <div>
                                    <button id="ihc-delete-btn" class="btn btn-danger mb-3" type="button">Delete All Data</button>
                                    <p class="text-danger">Deleting all data will result in the loss of all information. Please ensure you take a backup before proceeding with the deletion.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card ihc-custom-card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary fw-bold m-0"><strong>Data Findings</strong></h6>
                            </div>
                            <div class="card-body">
                                <h4 class="small fw-bold">CTR A<span class="float-end"><?php echo $ctrA ?>%</span></h4>
                                <div class="progress progress-sm mb-3">
                                    <div class="progress-bar ctr-a" aria-valuenow="<?php echo $ctrA ?>" aria-valuemin="0" aria-valuemax="100" style="width: <?php echo $ctrA . '%'?>;">
                                    </div>
                                </div>
                                <h4 class="small fw-bold">CTR B<span class="float-end"><?php echo $ctrB ?>%</span></h4>
                                <div class="progress progress-sm mb-3">
                                    <div class="progress-bar ctr-b" aria-valuenow="<?php echo $ctrB ?>" aria-valuemin="0" aria-valuemax="100" style="width: <?php echo $ctrB . '%'?>;">
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>B HEX</th>
                                                <th>City</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><?php echo $optionBhex; ?></td>
                                                <td><?php echo $optionCity; ?></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card ihc-custom-card shadow mb-3">
                            <div class="card-header py-3">
                                <h6 class="text-primary fw-bold m-0"><strong>Options</strong></h6>
                            </div>
                            <div class="card-body">
                                <form id="location-form">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3"><label class="form-label"><strong>Region</strong></label><select class="form-select" id="region" onchange="set_country(this,country,city_state)" name="region">
                                                    <option value="" selected="">SELECT REGION</option>
                                                    <option value=""></option>
                                                    <script type="text/javascript">
                                                        setRegions(this);
                                                    </script>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3"><label class="form-label"><strong>Country</strong><br></label><select class="form-select" id="country" name="country" onchange="set_city_state(this,city_state)" disabled required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3"><label class="form-label"><strong>City</strong><br></label>
                                                <select class="form-select" id="city-state" name="city_state" disabled required>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3"><label class="form-label" for="btn-color"><strong>Button HEX</strong></label><input class="form-control" type="text" id="btn-color" name="color"
                                                    pattern="^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$" placeholder="Enter a valid hex color (e.g., #RRGGBB)" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="mb-3"><label class="form-label" for="btn-id"><strong>Button ID</strong><br></label><input class="form-control" type="text" id="btn-id" name="btnid" pattern="^#[^0-9!+=][^!+=]*$"
                                                    placeholder="Selector ID (e.g., #first-btn)" required></div>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                    <div class="mb-3" style="padding-top: 12px;"><button class="btn btn-primary" type="submit">Save Settings</button></div>
                                    <div class="mb-3" style="padding: 10px 0px;font-weight: bold;">
                                        <h5 class="text-center text-success" id="response-message"></h5>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <a class="border rounded d-inline scroll-to-top" href="#content"><i class="fas fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    //handle form submission via AJAX
    $(document).ready(function() {
        $("#location-form").submit(function(event) {
            event.preventDefault();

            if (!ihc_validateForm()) {
                return;
            }

            var formData = {
                region: $('#region').val(),
                country: $("#country").val(),
                city_state: $("#city-state").val(),
                color: $("#btn-color").val(),
                btnid: $("#btn-id").val(),
            };
            $.ajax({
                type: "POST",
                url: "/wp-content/plugins/ip-hero-changer/ihc-process-form.php",
                data: formData,
                success: function(response) {
                    $("#response-message").html(response);
                    $("#location-form")[0].reset();
                    setTimeout(function() {
                        $("#response-message").fadeOut(500, function() {
                            $(this).empty().show();
                        });
                    }, 6000);
                },
                error: function() {
                    $("#response-message").html("An error occurred while processing your request.");
                }
            });
        });
    });

    function ihc_validateForm() {
        var region = $('#region').val();
        var country = $("#country").val();
        var cityState = $("#city-state").val();

        if (region === "" || country === "" || cityState === "") {
            alert('Please select a value for Region, Country, and City before submitting.');
            return false;
        }

        return true;
    };

    $(document).ready(function() {
        $('#ihc-delete-btn').on('click', function() {
            if (confirm('Are you sure you want to delete all the data?')) {
                $.ajax({
                    url: '/wp-content/plugins/ip-hero-changer/ihc-ajax.php',
                    method: 'POST',
                    data: {
                        action: 'delete_all_data'
                    },
                    success: function(response) {
                        alert(response);
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        // Handle errors
                        console.error('AJAX error: ' + status, error);
                        alert('Error deleting data.');
                    }
                });
            } else {
                // User canceled the deletion
                alert('Data deletion canceled.');
            }
        });
    });
</script>
<script>
    const impBar = document.getElementById('btnImpBar');
    const data = {
        labels: ['A', 'B'],
        datasets: [{
            label: 'Button Impression',
            data: [ <?php echo $impressionA .
                ', ' . $impressionB; ?>
            ],
            backgroundColor: [
                'rgba(28, 200, 138, 0.5)',
                'rgba(78, 115, 223, 0.5)',
            ],
            borderColor: [
                'rgb(28, 200, 138)',
                'rgb(78, 115, 223)',
            ],
            borderWidth: 1
        }]
    };

    new Chart(impBar, {
        type: 'bar',
        data: data,
        options: {
            plugins: {
                legend: {
                  display: false
                }
             },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script>
    const viewPie = document.getElementById('viewPie');

    new Chart(viewPie, {
        type: 'doughnut',
        data: {
            labels: ['A', 'B'],
            datasets: [{
                label: 'Button Clicks',
                data: [ <?php echo $clickedA .
                    ', ' . $clickedB; ?>
                ],
                backgroundColor: [
                    'rgba(28, 200, 138, 1)',
                    'rgba(78, 115, 223, 1)',
                ],
                borderWidth: 2
            }]
        },

        options: {

        }
    });
</script>
